//- link(type='text/css' rel='stylesheet' href='css/todo-app.css')

.todo-app(ng-controller='todoCtrl')
	.intro
		h1: img(src='img/oh-snap.png')
		h2 
			span you have 
			span.todo-count {{todoCount()}} 
			span  todo
			span(ng-show="todoCount() != 1") s
			span  left to complete !
	.gradient-bar
	ul
		li(ng-repeat='todo in todos | incompleteFirst' class='todo')
			
			label(ng-class='{done : todo.done}')
				input(type='checkbox' ng-model='todo.done')
				span {{ todo.text }}
			span.delete(ng-click='deleteTodo(todo)') x
		li.todo.placeholder: input(
			type='text' placeholder='Add todos here!' 
			ng-model='todoText' enter='addTodo(todoText)')

//- script(type='text/javascript' src='js/todo-app.js')