//- link(type='text/css' rel='stylesheet' href='css/todo-app.css')

.todo-app(ng-controller='todoCtrl')
	.intro
		h1: img(src='img/oh-snap.png')
		h2 
			span you have 
			span.todo-count {{todos.length}} 
			span todos!
	ul
		li(ng-repeat='todo in todos | incompleteFirst')
			input(type='checkbox' ng-model='todo.done')
			label(ng-class='{done : todo.done}') {{ todo.text }}
		input(
			type='text' placeholder='Add todos here!' 
			ng-model='todoText' enter='addTodo(todoText)')

//- script(type='text/javascript' src='js/todo-app.js')